@model ProjectMan.Models.Company

@{
    ViewBag.Title = "Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>Güncelle: @Model.name</h2>
</div>

<form action="@Model.id" method="post">
    <div class="form-group row">
        <div class="col-sm-12">
            <label for="companyName" class="col-sm-2 form-control-label">Ad :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="companyName" name="companyName" placeholder="Şirket Adı" value="@Model.name">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            <label for="companyAdress" class="col-sm-2 form-control-label">Adres :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="companyAdress" name="companyAdress" placeholder="Adres" value="@Model.adress">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            <label for="billedTo" class="col-sm-2 form-control-label">Fatura Adresi :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="billedTo" name="billedTo" placeholder="Fatura" value="@Model.billedto">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            <label for="contactName" class="col-sm-2 form-control-label">Yetkili Kişi :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="contactName" name="contactName" placeholder="İsim" value="@Model.contactname">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            <label for="contactEmail" class="col-sm-2 form-control-label">Yetkili Kişi e-Posta :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="contactEmail" name="contactEmail" placeholder="e-Posta" value="@Model.contactemail">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            <label for="contactTel" class="col-sm-2 form-control-label">Yetkili Kişi Telefon :</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="contactTel" name="contactTel" placeholder="Telefon" value="@Model.contacttel">
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary"> Kaydet </button> <a href="/Company/Index" class="btn btn-primary">Geri Dön</a>
</form>
